
body {
    background-color: lightblue !important;
  }
  

/* hover effect and box shadow */
.card-body .btn-primary {
    transition: all 0.3s ease; 
  }
  
  .card-body .btn-primary:hover {
    color: #ff9800; /* New color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
    transform: translateY(-2px); /* Move the button up slightly */
  }
  
  /* Style the header */


/* Change the background color of the navbar */
.navbar {
    background-color: #333;
  }
  
  /* Change the color of the navbar links */
  .navbar-nav .nav-link {
    color: #fff;
  }
  
  /* Change the hover effect of the navbar links*/ 
  .navbar-nav .nav-link:hover {
    color: #ff9800;
  }
  
  /* Change the color of the navbar brand */
  .navbar-brand {
    color: #fff;
  }
  
  /* Hover effect of the navbar */
  .navbar-brand:hover {
    color: #ff9800;
  }

 /* Style for the footer links */


.footer-link {
    color: #000; /* Default color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Add smooth transition */
  }
  
  /* Hover effect for the footer links */
  .footer-link:hover {
    color: #ff9800; /* New color on hover */
  }
  
  